


header {
    
    text-align: justify;
    background-color: rgb(255, 255, 255);
    padding: 2%;
}
nav {
    text-align: justify;
    background-color: rgb(66, 84, 161);
    padding: 0%;
    float: left;
    width: 0%;
    float: right;
    width: 90%;
}
section{
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}
article{
    background-color: rgb(174, 200, 235);
    grid-column: 1/4;
}

aside{
    background-color: rgb(65, 65, 65);
    grid-column: 4/5;
    padding: 20px;
}
footer {
    background-color: rgb(84, 85, 156);
        font-family: Verdana,sans-serif;
    font-size: 1.1em" jstcache="0";
}

